@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

$preto:black; 
$amarelo:#FFF36D;

$theme-colors:(
  "preto": $preto,
  "amarelo": $amarelo
);

html,body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
 
}


p{
  margin-top: 32px;
 font-size: 18px; 
}

.btn-entrar{
  background: transparent;
}


/* Nova classe a ser atribuída ao elemento com os estilos desejados */
.mudaCor{
  background-color:#fff !important;
}

.index{
  z-index: 1;
}

.fundo{
  background:#C4C4C4 url('../img/background_home_2_1300px.png') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
}

.btn-conectar{
position: absolute;
width: 160px;
height: 50px;
left: 400px;
top: 420px;
background-color:#FEDC32!important;
}

a{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a.btn-conectar{
  font-weight: 800;
}

.whats{
  color: white;
  background: black;
  position: absolute;
  width: 220px;
  height: 220px;
  left: 1100px;
  top: 520px;
}

.whats img{
  width: 80px;
  height: 80px;
  position: absolute;
  top: -50px;
  left:calc(220px/3);
}

.whats p{
  margin-top: 50px;
}

.btn-whats{
  position: relative;
  background-color: #25d165!important;
  width: 90%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left:13px;
}

.espaco h3{
  margin: 10px;
}

.espaco{
  position: absolute;
  background-color: black;
  color: white;
  width: 450px;
  top: 490px;
  left: 230px;
  height: 430px;
}

.espaco h3{
  margin: 10px;
}

.espaco p{
  font-size: 18px;
  line-height: 30px;
}

.mais{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 390px;
  top: 15px;
}

.btn-saiba{
position: absolute;
width: 130px;
height: 53px;
top: 290px;
left: 0px;
background: $amarelo!important;
}

a.btn-whats{
  color: white;
}

.espaco2{
  position: absolute;
  background-color: gray;
  color: white;
  width: 450px;
  top: 490px;
  left: 680px;
  height: 60px;
}

.espaco2 h3{
  margin: 10px;
}

.espaco2 p{
  font-size: 18px;
  line-height: 30px;
}

.mais2{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 390px;
  top: 15px;
}

.titulo{
  margin-top: 112px;
  width: 900px;
  height: 223px;
 
}

.titulo h1{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 66px;
  text-align: center;
}

.titulo p{
  font-size: 16px;
line-height: 24px;
}

.subtitulo{
  margin-top:70px;
  width: 595px;
  height: 120px;
  margin-bottom: 50px;
}

.subtitulo h2{
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}

.subtitulo p{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
}

.img-area{
  width: 1100px;
  height: 550px;
  margin-bottom: 50px;
}

.img-area img{
  width: 100%;
  height: 100%;
}

.shadow-bottom{
  box-shadow: 0 4px 2px -3px gray;
}

.elipse{
  width: 180px;
  height: 200px;
  position: absolute;
  left:1165px;
  top:-50px;
  z-index: 1;
}

.bubble{
  position: absolute;
  top: 470px;
  left: 0px;
  width: 200px;
height: 176px;
}

.solucoes{
  margin-top: 350px;
width: 595px;
height: auto;
text-align: center;
}

.icon-card{
position: absolute;
width: 44px;
height: 53px;
top: 240px;
left: 20px;
}

.t-card{
  position: absolute;
  left: 35px;
  top: 310px; 
}

.ovl{
  opacity: 0;
}

.ovl:hover{
  opacity: 1;
}

.ovl p{
  font-size: 16px;
}

.client-img { 
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 4px solid #fff;
  margin: 0px auto 20px;
  border-radius: 100%;
}
.carousel-content {
  padding: 50px 0px;
}
.carousel-content h3 {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 800;
}

.carousel-content span{
  font-weight: normal;
  text-transform: uppercase;
  font-size: 15px;
}
.client-img img {
  width: 100%;
}

.carousel-bg{
  background: url('../img/box-depoimento.png') no-repeat center center;
  background-size: 100% 100%;
}

#testimonialCarousel{
  width: 80%;
}

.blockquote{
  position: absolute;
  left: 50px;
}

.input-email{
  width: 50%;
  border: none;
  border-bottom: 1px solid #1a1a1a;
  outline: none;
}

.btn-conhecer{
  width: 150px;
  height:40px;
  font-weight: 800!important;
  border: 2px solid #FEDC32!important;
  box-sizing: border-box;
}

.btn-newsletter{
  background: $amarelo!important;
  width: 150px;
  height:50px;
  font-weight: 800!important;
}

.newsletter{
  width: 50%;
}

.text-newsletter p{
  width: 100%;
  white-space: pre-line;
}

a.black{
  margin-top: 15px;
  font-size: 20px;
  color: black!important;
  text-decoration: underline;
}

.mt-102{
  margin-top: 102px;
}

.conhecer h1{
  line-height: 50px;
  width: 75%;
}
.conhecer p{
  white-space: pre-line;
}

.mt-56{
  margin-top: 56px;
}

.enderecos p{
  white-space: pre;
  white-space: pre-line;
}

.card-text{
  white-space: pre-line!important;
}
//Medias querys----------------------------------------------------------------

@media(width:320px){
  .btn-conectar{
    left: 10px;
    top: 280px;
  }

  .fundo{
    background: url('../img/background_home_mobile_320px.png') no-repeat left center;
    background-size: cover;
    height: 350px;
  }

  .whats{
  width: 90%;
  height: 200px;
  left: 17px;
  top: 420px;
  }

  .whats img{
    width: 90px;
    height: 90px;
    left:100px;
  }

  .whats p{
    margin-top: 40px;
  }

  .btn-whats{
    margin-left:13px;
  }
  
  .titulo{
  margin-top: 250px;
  height: 223px;
  margin-bottom: 30px;
  }

  .titulo h1{
    white-space: pre-line;
    margin-top: 70px;
    font-size: 20px;
    line-height: 30px;
  }

  .titulo p{
    white-space: pre;
  }
  
  .subtitulo{
    margin-top: 30px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .subtitulo h2{
  font-size: 20px;
  line-height: 30px;
  }

  .img-area{
    margin-top: 0px;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
  }

  .elipse{
    width: 100px;
    height: 100px;
    position: absolute;
    left:220px;
    top:-30px;
    z-index: 1;
  }

  .bubble{
    position: absolute;
    top: 140px;
    left: 0px;
    width: 150px;
    height: 150px;
  }

  .espaco{
    position: absolute;
    background-color: black;
    color: white;
    width: 90%;
    top: 280px;
    left: 15px;
    height: 530px;
  }

  .espaco2{
    position: absolute;
    background-color: gray;
    color: white;
    width: 90%;
    top: 350px;
    left: 15px;
    height: 60px;
  }
  
  .btn-saiba{  
    width: 130px;
    height: 53px;
    top: 0px;
    left: 20px;
    }
}

@media(width:375px){
  .btn-conectar{
    left: 20px;
    top: 280px;
  }

  .fundo{
    background: url('../img/background_home_mobile_320px.png') no-repeat left center;
    background-size: cover;
    height: 350px;
  }

  .whats{
    width: 90%;
    height: 200px;
    left: 17px;
    top: 420px;
    }
  
    .whats img{
      width: 90px;
      height: 90px;
      left:130px;
    }
  
    .whats p{
      margin-top: 40px;
    }

    .btn-whats{
      margin-left:13px;
    }

  .titulo{
    margin-top: 250px;
    width: 100%;
    height: 230px;
    }
  

    .titulo h1{
      margin-top: 70px;
      font-size: 25px;
      line-height: 30px;
    }

    .subtitulo{
      margin-top: 30px;
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
  
    .subtitulo h2{
    font-size: 25px;
    line-height: 30px;
    }

    .img-area{
      width: 100%;
      height: 250px;
      margin-bottom: 50px;
    }

    .elipse{
      width: 100px;
      height: 100px;
      position: absolute;
      left:273px;
      top:-30px;
      z-index: 1;
    }
  
    .bubble{
      position: absolute;
      top: 190px;
      left: 0px;
      width: 150px;
      height: 150px;
    }
}

@media(width:425px){
  .btn-conectar{
    left: 10px;
    top: 290px;
  }

  .fundo{
    background: url('../img/background_home_mobile_320px.png') no-repeat left center;
    background-size: cover;
    height: 400px;
  }

  .whats{
    width: 90%;
    height: 200px;
    left: 20px;
    top: 470px;
    }
  
    .whats img{
      width: 90px;
      height: 90px;
      left:150px;
    }

    .whats p{
      margin-top: 50px;
    }

    .btn-whats{
      margin-left:15px;
    }

    .titulo{
      margin-top: 250px;
      width: 100%;
      height: 223px;
      }
  
      .titulo h1{
        margin-top: 70px;
        font-size: 25px;
        line-height: 30px;
      }

      .subtitulo{
        margin-top: 30px;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
      }
    
      .subtitulo h2{
      font-size: 25px;
      line-height: 30px;
      }

      .img-area{
        width: 100%;
        height: 250px;
        margin-bottom: 50px;
      }

      .elipse{
        width: 100px;
        height: 100px;
        position: absolute;
        left:330px;
        top:-30px;
        z-index: 1;
      }
    
      .bubble{
        position: absolute;
        top: 190px;
        left: 0px;
        width: 150px;
        height: 150px;
      }
}

@media(width:768px){
  .btn-conectar{
    width: 300px;
    height: 80px;
    left: 10px;
    top: 490px;
  }
  .fundo{
    background: url('../img/background_home_mobile.png') no-repeat left center;
    background-size: cover;
    height: 80vh;
  }

  .whats{
    width: 70%;
    height: 280px;
    left: 130px;
    top: 670px;
    }
  
    .whats img{
      width: 120px;
      height: 120px;
      left:220px;
    }

    .whats p{
      margin-top: 80px;
    }

    .btn-whats{
      margin-left:30px;
      height: 70px;
    }

    a.btn-whats{
      font-size:20px;
      font-weight: 800;
    }

    .titulo{
      margin-left:0 auto;
      margin-right:0 auto;
      margin-top: 350px;
      width: 100%;
      height:auto;
    
      }

      .titulo h1{
        margin-top: 70px;
        font-size: 30px;
        line-height: 30px;
      }

      .titulo p{
        font-size: 18px;
      }

      .subtitulo{
        margin-top: 30px;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
      }
    
      .subtitulo h2{
      font-size: 25px;
      line-height: 30px;
      }

      .subtitulo p{
        font-size: 18px;
      }

      .img-area{
        width: 90%;
        height: 350px;
        margin-bottom: 50px;
      }

      .elipse{
        width: 180px;
        height: 180px;
        position: absolute;
        left:590px;
        top:-30px;
        z-index: 1;
      }
    
      .bubble{
        position: absolute;
        top: 280px;
        left: 0px;
        width: 180px;
        height: 180px;
      }
}

@media(width:1024px){
  .btn-conectar{
    width: 200px;
    height: 70px;
    left: 230px;
    top: 470px;
  }

  .whats{
    width: 50%;
    height: 300px;
    left: 250px;
    top: 770px;
    }
  
    .whats img{
      width: 130px;
      height: 130px;
      left:200px;
    }

    .whats p{
      margin-top: 100px;
    }

    a.btn-whats{
      font-size:23px;
      font-weight: 800;
    }

    .btn-whats{
      margin-left:25px;
      height: 70px;
    }

    .titulo{
      margin-top: 370px;
      width: 100%;
      height: auto;
    
      }
  
      .titulo h1{
        margin-top: 70px;
        font-size: 40px;
        line-height: 50px;
      }
      

    .subtitulo{
      margin-top: 30px;
      width: 90%;
      height: auto;
    }
  
    .subtitulo h2{
    font-size: 38px;
    line-height: 50px;
    }

    .img-area{
      width: 90%;
      height: 430px;
      margin-bottom: 50px;
    }

    .elipse{
      width: 180px;
      height: 180px;
      position: absolute;
      left:840px;
      top:-30px;
      z-index: 1;
    }
  
    .bubble{
      position: absolute;
      top: 360px;
      left: 0px;
      width: 180px;
      height: 180px;
    }

    .subtitulo p{
      font-size: 18px;
    }

    .titulo p{
      font-size: 18px;
    }

}

@media(width:1920px){
  .btn-conectar{
    width: 160px;
  height: 53px;
  left: 917px;
  top: 482px;
  }

  .fundo{
    background: url('../img/background_home.png') no-repeat left center;
    background-size: cover;
    height: 673px;
  }

  .whats{
  position: absolute;
  width: 227px;
  height: 227px;
  left: 1529px;
  top: 548px;
  }

  .titulo h1{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
  }

  .titulo p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
  }

  .subtitulo{
    margin-top: 150px;
    margin-bottom: 50px;
  }

  .subtitulo h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
  }

  .subtitulo p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  }

  .elipse{
    width: 288px;
    height: 288px;
    left: 1696px;
    top: -90px;
    position: absolute;
    z-index: 1;
  }

  .bubble{
    position: absolute;
    top: 630px;
    left: 0px;
    width: 296px;
    height: 176px;
  }

  .img-area{
    width: 90%;
    height: 763px;
    margin-bottom: 50px;
  }


}
//imports o Bootstrap
@import './node_modules/bootstrap/scss/bootstrap';
