
@font-face {
  font-family: 'Inlanders Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Inlanders Bold'), url('Inlanders Demo.woff') format('woff');
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


$sm: 576px;
$md: 768px;
$lg: 992px;  
$xl: 1200px;


$preto:black; 
$amarelo:#FEDC32;
$cinza:#EEEEEE;

$link-color: $preto;

$theme-colors:(
  "preto": $preto,
  "amarelo": $amarelo,
  "cinza": $cinza
  );

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif, Arial, Helvetica!important;
}

//Quem Somos
.bg-trabalhe{
  background: url("../img/bg-trabalhe.png") no-repeat;
  background-position: 65% 0%;
  background-size: cover;
  height: 550px;
}

.irlanders{
  font-family:'Inlanders Bold', 'Roboto', sans-serif!important ;
}

.mt-56{
  margin-top: 56px;
}

.mb-56{
  margin-bottom: 56px;
}

.mt-70{
  margin-top: 70px;
}

.mt-102{
  margin-top: 102px;
}

.mt-150{
  margin-top: 150px;
}


.vaga{
  width: 577px;
}



.pre-line{
  white-space:pre-line;
}

.shadow-bottom{
  box-shadow: 0 4px 2px -3px gray;
}



.index{
  z-index: 1;
}

.whats{
  color: white;
  background: black;
  position: absolute;
  width: 220px;
  height: 250px;
  top: 500px;
  right:40px;
  bottom: 0px;
}

.whats img{
  position: relative;
  width: 90px;
  height: 90px;
  top: -20px;
  left:0;
}

.whats p{
  position: relative;
}

.btn-whats{
  position: relative;
  background-color: #25d165!important;
  width: 90%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:13px;
}

a.btn-whats{
  color: white;
}

.foo{
  display: none;
  position: fixed;
  bottom: 0;
  right:0;
  z-index: 300;
}

.elipse{
  width: 130px;
  position: absolute;
  left: -20px;
  bottom:-20px;
  z-index: 6;
}

.bubble{
  z-index: 1;
  position: absolute;
  width: 180px;
  top:480px;
  left: 0px;
}

#menu{
z-index: 1000;
}


.tech{
  position: relative;
  width: 505px;
}

.tech .img-tech{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.bubble2{
  width: 180px;
  position: absolute;
  right: -30px;
  top: -20px;
}

@media(min-width:320px) and (max-width:425px){
  .mt-150{margin-top: 50px;}
  .foo{display: block;}
  .bg-trabalhe{height: 300px; background-position: 20% 0%;}
  .whats{display: none;}
  .elipse{display: none;}
  .bubble{display: none;}
  .bubble2{display: none;}
  .tech{width: 100%;}
  h1{font-size: 1.8em!important;}
  h2{font-size: 1.6em!important;}
}

@media(min-width:426px) and (max-width:$sm){
  .mt-150{margin-top: 50px;}
  .foo{display: block; width: 80px;height: 80px;}
  .foo img{width: 90%;}
  .bg-trabalhe{height: 350px; background-position: 20% 0%;}
  .whats{display: none;}
  .elipse{display: none;}
  .bubble{display: none;}
  .bubble2{display: none;}
  .tech{width: 100%;}
  h1{font-size: 1.8em!important;}
  h2{font-size: 1.6em!important;}
}

@media(min-width:577px) and (max-width:767px){
  .mt-150{margin-top: 50px;}
  .foo{display: block; width: 100px;height: 100px;}
  .foo img{width: 80%;}
  .bg-trabalhe{height: 300px; background-position: 20% 0%;}
  .whats{display: none;}
  .elipse{display: none;}
  .bubble{display: none;}
  .bubble2{display: none;}
  .tech{width: 100%;}
  h1{font-size: 1.8em!important;}
  h2{font-size: 1.6em!important;}
}

@media(min-width:768px) and (max-width:$lg){
  .mt-150{margin-top: 100px;}
  .foo{display: block; width: 120px;height: 120px;}
  .foo img{width: 80%;}
  .bg-trabalhe{height: 300px; background-position: 20% 0%;}
  .whats{display: none;}
  .bubble{top: 230px;}
  .tech{width: 80%; }

}

@media(min-width:993px) and (max-width:$lg){
  .mt-150{margin-top: 100px;}
  .foo{display: block; width: 120px;height: 120px;}
  .foo img{width: 80%;}
  .bg-trabalhe{height: 300px; background-position: 20% 0%;}
  .whats{display: none;}
  .bubble{top: 230px;}
  .tech{width: 80%; }

}

@media(min-width:1300px) and (max-width:1800px){
  .bg-trabalhe{
    background: url("../img/bg-trabalhe.png") no-repeat;
    background-position: 65% 0%;
    background-size: cover;
    height: 550px;
  }
  
  .irlanders{
    font-family:'Inlanders Bold', 'Roboto', sans-serif!important ;
  }
  
  .mt-56{
    margin-top: 56px;
  }
  
  .mb-56{
    margin-bottom: 56px;
  }
  
  .mt-70{
    margin-top: 70px;
  }
  
  .mt-102{
    margin-top: 102px;
  }
  
  .mt-150{
    margin-top: 150px;
  }
  
  
  .vaga{
    width: 577px;
  }
  
  
  
  .pre-line{
    white-space:pre-line;
  }
  
  .shadow-bottom{
    box-shadow: 0 4px 2px -3px gray;
  }
  
  
  
  .index{
    z-index: 1;
  }
  
  .whats{
    color: white;
    background: black;
    position: absolute;
    width: 220px;
    height: 250px;
    top: 500px;
    right:40px;
    bottom: 0px;
  }
  
  .whats img{
    position: relative;
    width: 90px;
    height: 90px;
    top: -20px;
    left:0;
  }
  
  .whats p{
    position: relative;
  }
  
  .btn-whats{
    position: relative;
    background-color: #25d165!important;
    width: 90%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:13px;
  }
  
  a.btn-whats{
    color: white;
  }
  
  .foo{
    display: none;
    position: fixed;
    bottom: 0;
    right:0;
    z-index: 300;
  }
  
  .elipse{
    width: 130px;
    position: absolute;
    left: -20px;
    bottom:-20px;
    z-index: 6;
  }
  
  .bubble{
    z-index: 1;
    position: absolute;
    width: 180px;
    top:480px;
    left: 0px;
  }
  
  #menu{
  z-index: 1000;
  }
  
  
  .tech{
    position: relative;
    width: 505px;
  }
  
  .tech .img-tech{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  
  .bubble2{
    width: 180px;
    position: absolute;
    right: -30px;
    top: -20px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),  ( min-width: 1900px){
  .bg-trabalhe{
    background: url("../img/bg-trabalhe.png") no-repeat;
    background-position: 65% 0%;
    background-size: cover;
    height: 550px;
  }
  
  .irlanders{
    font-family:'Inlanders Bold', 'Roboto', sans-serif!important ;
  }
  
  .mt-56{
    margin-top: 56px;
  }
  
  .mb-56{
    margin-bottom: 56px;
  }
  
  .mt-70{
    margin-top: 70px;
  }
  
  .mt-102{
    margin-top: 102px;
  }
  
  .mt-150{
    margin-top: 150px;
  }
  
  
  .vaga{
    width: 577px;
  }
  
  
  
  .pre-line{
    white-space:pre-line;
  }
  
  .shadow-bottom{
    box-shadow: 0 4px 2px -3px gray;
  }
  
  
  
  .index{
    z-index: 1;
  }
  
  .whats{
    color: white;
    background: black;
    position: absolute;
    width: 304px;
    height: 280px;
    top: 500px;
    right:40px;
    bottom: 0px;
  }
  
  .whats img{
    position: relative;
    width: 90px;
    height: 90px;
    top: -20px;
    left:0;
  }
  
  .whats p{
    position: relative;
  }
  
  .btn-whats{
    position: relative;
    background-color: #25d165!important;
    width: 90%;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:13px;
  }
  
  a.btn-whats{
    color: white;
  }
  
  .foo{
    display: none;
    position: fixed;
    bottom: 0;
    right:0;
    z-index: 300;
  }
  
  .elipse{
    width: 138px;
    position: absolute;
    left: -20px;
    bottom:-20px;
    z-index: 6;
  }
  
  .bubble{
    z-index: 1;
    position: absolute;
    width: 296px;
    top:430px;
    left: 0px;
  }
  
  #menu{
  z-index: 1000;
  }
  
  
  .tech{
    position: relative;
    width: 505px;
  }
  
  .tech .img-tech{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  
  .bubble2{
    width: 203px;
    position: absolute;
    right: -40px;
    top: -30px;
  }
}

//imports o Bootstrap
@import './node_modules/bootstrap/scss/bootstrap';